body {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#grid-container {
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    border-width: 10px;
    border-color: black;
}

.black {
    background-color: black;
}

.grid-item {
    
    
}